 *{
  margin:0px;
  padding: 0px;
  font-family: sans-serif;
}
 #sidebar{
position:fixed;
width:200px;
height:100%;
background:#151414;
left:-200px;
transition:  all 500ms linear;
}
#sidebar.active {
  left:0px;
}
#sidebar ul,ul li{
  color:#ECE9E9;
  list-style:none;
  padding: 15px 10px 0;
  border-bottom: 1px solid red;
}
#sidebar .toggle-btn{
  position: absolute;
  left: 220px;
  top: 20px;
}
#sidebar .toggle-btn span{
  display:block;
  width:40px;
  height: 5px;
  background:#151719;
  margin: 5px 0px;
}


/* Cloths-list*/
.card1,.card2,.card3,.card4,.card5,.card6,.card7,.card8 {
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.2);
    width: 250px;
    height:300px;
    text-align: center;
    margin: 10px;
}
#cloths-list{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 270px;
  margin-top: 10px;
  background-color:white;
}
#cloths-list p{
  font-style: oblique;
}


/*Media Queries*/
@media screen and (min-width:360px) and (max-width:640px) {

  body{
    background: RED;
  }
  #cloths-list{
    margin-left: 0;
  }
  #sidebar{
    height: 25vh;
    position: relative;
    width:80%;
    left: -80%
  }
  #sidebar .toggle-btn{
    margin-left: 6%;
    left:100%;
  }
}
